version: 2.1
orbs:
  codecov: codecov/codecov@1.0.2 # to get this to work, had to opt-in to using third party orbs in Organization Security settings.
jobs:
  flake8:
    parameters:
      python_version:
        type: string
    docker:
      - image: continuumio/miniconda:latest
    environment:
      PYTHON: << parameters.python_version >>
      ENV_NAME: linting
    steps:
      - checkout
      - restore_cache:
          key: deps-{{ .Branch }}-{{ checksum "ci/linting.yaml" }}
      - run:
          name: configure conda environment
          command: ./ci/install_conda.sh
      - run:
          name: linting for PEP8 compliance
          command: |
            source activate ${ENV_NAME}
            flake8
      - save_cache:
          key: deps-{{ .Branch }}-{{ checksum "ci/linting.yaml" }}
          paths:
            - "/opt/conda/envs/${ENV_NAME}/"

  simpleds:
    parameters:
      python_version:
        type: string
    docker:
      - image: continuumio/miniconda:latest
    environment:
      PYTHON: << parameters.python_version >>
      ENV_NAME: tests
    steps:
      - checkout
      - restore_cache:
          key: deps-{{ .Branch }}-{{ checksum "ci/tests.yaml" }}
      - run:
          name: configure conda environment
          command: ./ci/install_conda.sh
      - run:
          name: install
          command: |
            source activate ${ENV_NAME}
            pip install -e .[all]
      - run:
          name: run simpleDS tests
          command: |
            source activate ${ENV_NAME}
            mkdir test-reports
            python -m pytest --cov=simpleDS --cov-config=.coveragerc --cov-report xml:./coverage.xml --junitxml=test-reports/xunit.xml simpleDS
          key: deps-{{ .Branch }}-{{ checksum "ci/tests.yaml" }}
          paths:
            - "/opt/conda/envs/${ENV_NAME}/"
      - store_test_results:
          path: test-reports
      - store_artifacts:
          path: test-reports
      - codecov/upload:
          file: ./coverage.xml
  doctest:
      parameters:
        python_version:
          type: string
      docker:
        - image: continuumio/miniconda:latest
      environment:
        PYTHON: << parameters.python_version >>
        ENV_NAME: tests
      steps:
        - checkout
        - restore_cache:
            key: deps-{{ .Branch }}-{{ checksum "ci/tests.yaml" }}
        - run:
            name: configure conda environment
            command: ./ci/install_conda.sh
        - run:
            name: install
            command: |
              source activate ${ENV_NAME}
              pip install -e .[all]

        - run:
            name: run tutorial tests
            command: |
              source activate ${ENV_NAME}
              python -m doctest docs/tutorial.rst
        - save_cache:
            key: deps-{{ .Branch }}-{{ checksum "ci/tests.yaml" }}
            paths:
              - "/opt/conda/envs/${ENV_NAME}/"
  tutorial_notebook:
    parameters:
      python_version:
        type: string
    docker:
      - image: continuumio/miniconda:latest
    environment:
      PYTHON: << parameters.python_version >>
      ENV_NAME: tutorial
    steps:
      - checkout
      - restore_cache:
          key: deps-{{ .Branch }}-{{ checksum "ci/tutorial.yaml" }}
      - run:
          name: configure conda environment
          command: ./ci/install_conda.sh
      - run:
          name: install
          command: |
            source activate ${ENV_NAME}
            pip install -e .[all]

      - run:
          name: run tutorial notebook
          command: |
            source activate ${ENV_NAME}
            python -m pytest --nbval --current-env docs/examples/simpleDS_tutorial.ipynb
      - save_cache:
          key: deps-{{ .Branch }}-{{ checksum "ci/tutorial.yaml" }}
          paths:
            - "/opt/conda/envs/${ENV_NAME}/"
workflows:
  version: 2
  build_and_test:
    jobs:
      - flake8:
          python_version: "3.8"
      - simpleds:
          name: simpleds_3.7
          python_version: "3.7"
          requires:
            - flake8
      - simpleds:
          name: simpleds_3.8
          python_version: "3.8"
          requires:
            - flake8
      - simpleds:
          name: simpleds_3.9
          python_version: "3.9"
          requires:
            - flake8
      - doctest:
          python_version: "3.9"
          requires:
              - simpleds_3.7
              - simpleds_3.8
              - simpleds_3.9
      - tutorial_notebook:
          name: tutorial
          python_version: "3.8"
          requires:
              - simpleds_3.7
              - simpleds_3.8
              - simpleds_3.9
